@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Лабораторна №5</h2>
    <h3>Виконав студент групи ІПЗ-31, Михайленко Назарій</h3>
    <h4>Варіант 1</h4>
    <p>Для отримання доступу до лабораторних 1-3, зареєструйтеся та авторизуйтесь</p>
    <p>Після цього ви зможете виконувати завдання описані в лабораторних 1-3</p>
</div>
