@model List<Customer> 

<h1>Customers</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            @foreach (var property in typeof(Customer).GetProperties())
            {
                <th>@property.Name</th>
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var property in typeof(Customer).GetProperties())
                {
                    <td>@property.GetValue(item, null)</td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.CustomerId">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
